---
import { BadgeCheck } from 'lucide-react'
---

<section class="py-10 bg-background/70">
  <div class="max-w-screen-lg mx-auto">
    <h1 class="mb-4 text-3xl font-semibold md:mb-11 text-center">
      Contenido del curso
    </h1>
    <div class="w-full mx-auto grid md:grid-cols-2 items-start">
      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 1: Introducción y Conceptos Básicos
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Fundamentos de HTML, CSS y JavaScript.</li>
                <li>
                  Introducción a PHP: sintaxis, variables, funciones y
                  formularios.
                </li>
                <li>Estructura de un proyecto web: frontend vs backend.</li>
                <li>Entorno de desarrollo: VS Code, Git/GitHub, XAMPP/LAMP.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <div class="md:text-lg font-semibold">
              Semana 2: Desarrollo con WordPress (Parte 1)
            </div>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Instalación y configuración de WordPress.</li>
                <li>Temas y personalización básica.</li>
                <li>Instalación y configuración de plugins esenciales.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 3: Desarrollo con WordPress (Parte 2)
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Desarrollo de temas desde cero con PHP.</li>
                <li>Uso de ACF (Advanced Custom Fields)</li>
                <li>
                  Integración con WooCommerce (productos y ajustes básicos).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 4: Desarrollo con WordPress (Parte 3)
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Creación de plugins personalizados.</li>
                <li>Hooks y filtros en WordPress.</li>
                <li>
                  Introducción al uso de APIs en WordPress (REST API y frontend
                  con Next.js).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 5: Desarrollo web con Astro (Parte 1)
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Introducción a Astro: arquitectura y ventajas.</li>
                <li>Creación de una web estática con componentes de Astro.</li>
                <li>Uso de Markdown y MDX para contenido.</li>
                <li>Integración de CSS y Tailwind en Astro.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 6: Desarrollo con Astro (Parte 2)
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Uso de datos dinámicos con Astro.</li>
                <li>Conexión con APIs externas (WordPress por ejemplo).</li>
                <li>
                  Generación estática (SSG) vs renderizado en servidor (SSR).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 7: Desarrollo con Next.js (Parte 1)
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Introducción a Next.js: estructura y routing.</li>
                <li>Creación de un proyecto con Next.js y React.</li>
                <li>Fetching de datos.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 8: Desarrollo con Next.js (Parte 2)
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Uso de APIs en Next.js.</li>
                <li>Conexión con bases de datos.</li>
                <li>Implementación de autenticación (Auth.js).</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 9: Uso de IA en Desarrollo Web
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Introducción a la IA en el desarrollo web.</li>
                <li>Uso de ChatGPT y Copilot para mejorar código.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="py-8">
        <div class="flex gap-x-5">
          <BadgeCheck className="shrink-0 mt-1 size-6 text-muted-foreground" />
          <div class="grow">
            <h3 class="md:text-lg font-semibold">
              Semana 10: Herramientas No-Code y Low-Code
            </h3>
            <div class="mt-1 text-muted-foreground">
              <ul class="list-disc">
                <li>Introducción a plataformas no-code y low-code.</li>
                <li>Webflow: diseño y desarrollo de una web responsive.</li>
                <li>Creación de un e-commerce funcional con Shopify.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
